@use './sass/base/reset.scss';
@import 'https://fonts.googleapis.com/css2?family=Nunito&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito, sans-serif;
}

/* ELEMENTS */
@layer components {
  .player-active {
    background-color: rgb(255 255 255 / 40%);
  }

  .player-active h2 {
    @apply font-bold;
  }

  .player-active > p {
    @apply font-normal;
  }

  .player-active > div {
    @apply opacity-100;
  }

  .player-winner {
    @apply bg-stone-800;

    // background-color: #2f2f2f;
  }

  .player-winner h2 {
    @apply font-bold text-red-500;

    // color: #c7365f;
  }

  /* ABSOLUTE POSITIONED ELEMENTS */
  .btn {
    @apply absolute left-1/2 -translate-x-1/2 text-stone-500 bg-transparent border-none text-3xl uppercase cursor-pointer font-normal transition-all bg-stone-100 backdrop-blur-md py-6 px-10 rounded-full shadow-lg;
  }

  .btn::first-letter {
    @apply text-4xl inline-block mr-3;
  }

  .btn:active {
    @apply -translate-x-1/2 translate-y-1 shadow-md;
  }

  .btn:focus {
    @apply outline-none;
  }
}
